{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Login</title>
    </head>
    <body>
        <form method="post" action="{{ form_action_url }}" name="main">
            {% csrf_token %}
            <fieldset id="field_login">
                <legend>Login</legend>
                <ul>
                {{ form.as_ul }}
                </ul>
                <br />
                <input type="submit" value="{% trans 'Login' %}" name="save" id="save">
            </fieldset>
        </form>
    <body>
</html>
        
